/* css中，越靠下的样式优先级越高，会覆盖掉前面的样式 
    但时和html中标签里面写的先后顺序无关，至于css中的上下顺序有关
*/

body {
    background-color: darkcyan;
}

.pool {
    display: flex;
    /* card margin=3，height+6，width+（6*5） */
    height: 181px;
    width: 655px;
    border: 3px dotted whitesmoke;
}

.card {
    height: 175px;
    width: 125px;
    background-image: url('//res.cform.cn/unzip/1581303397062_7219807376794356/cards/back.png');
    /* 100缩小匹配div大小，pic 250*350 */
    background-size: 100% 100%;
    margin: 3px;
}

.f1 {
    background-image: url('//res.cform.cn/unzip/1581303397062_7219807376794356/cards/f1.png');
}

.f2 {
    background-image: url("//res.cform.cn/unzip/1581303397062_7219807376794356/cards/f2.png");
}

.f3 {
    background-image: url("//res.cform.cn/unzip/1581303397062_7219807376794356/cards/f3.png");
}

.f4 {
    background-image: url("//res.cform.cn/unzip/1581303397062_7219807376794356/cards/f4.png");
}

.f5 {
    background-image: url("//res.cform.cn/unzip/1581303397062_7219807376794356/cards/f5.png");
}

.f6 {
    background-image: url("//res.cform.cn/unzip/1581303397062_7219807376794356/cards/f6.png");
}

.f7 {
    background-image: url("//res.cform.cn/unzip/1581303397062_7219807376794356/cards/f7.png");
}

.f8 {
    background-image: url("//res.cform.cn/unzip/1581303397062_7219807376794356/cards/f8.png");
}

.f9 {
    background-image: url("//res.cform.cn/unzip/1581303397062_7219807376794356/cards/f9.png");
}

.f10 {
    background-image: url("//res.cform.cn/unzip/1581303397062_7219807376794356/cards/f10.png");
}

.f11 {
    background-image: url("//res.cform.cn/unzip/1581303397062_7219807376794356/cards/f11.png");
}

.f12 {
    background-image: url("//res.cform.cn/unzip/1581303397062_7219807376794356/cards/f12.png");
}

.f13 {
    background-image: url("//res.cform.cn/unzip/1581303397062_7219807376794356/cards/f13.png");
}
